<div class="dashBoard">
    <h1>Flights coming soon</h1>
    <table>
     <tr>
       <th *ngFor="let flightHeader of flightHeaders">{{flightHeader}}</th>
     </tr>
     <tr *ngFor="let x in flightSummarys">
       <td>{{x.flight.id}}</td>  
       <td>
        <span *ngIf="x.isLanding" class="material-symbols-outlined">flight_land</span>
        <span *ngIf="!x.isLanding" class="material-symbols-outlined">flight_takeoff</span></td>
       <td>{{countryToFlag(x.flight.fromAirport.Iso_country)}}</td>
       <td>{{countryToFlag(x.flight.toAirport.Iso_country)}}</td>
       <td>{{x.time}}</td> 
     </tr>  
   </table>
 </div>