.dashBoard{
    margin: 2rem;
}
table {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}
tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding: 0.5rem;
    td {
        text-align: left;
        width: 100%;
    }
    th{
        text-align: left;
    }
 }
 