
:host{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.menu{
    background-color: rgb(15, 44, 82);
    height: 100%; flex: 1;
    min-width: 250px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    .menuItem{
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 20px;
       .material-symbols-outlined {
         font-size: 30px;
         flex: 1;
         font-variation-settings:
         'FILL' 0,
         'wght' 300,
         'GRAD' 0,
         'opsz' 10
       }
       .itemName{
        flex: 5;
       }

    } 
    .Item:hover{
        background-color: rgb(3, 142, 206);
    }
    .header{
        margin-bottom: 1rem;
        font-size: 40px;
        .material-symbols-outlined {
            font-size: 40px;
        }
    }

}

.content{
    background-color: rgb(233, 230, 230);
    flex: 4; display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.searchContainer{
    background-color: rgb(255, 255, 255);
    // height: 100%;
    flex: 1;
    min-height: 40px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    .material-symbols-outlined {
        font-size: 30px;
        cursor: pointer;
        margin-left: 1rem;
        font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
    }
}
.searchBox{
    border: 0.5px solid rgb(175, 175, 175);
    border-radius: 50px;
    width: 550px;
    height: 70%;
    padding-left: 15px;
    min-height: 35px;
    margin-right: 350px;
}

.searchBox:focus {
    outline: none;
    border: 0.5px solid rgb(75, 75, 75);
}
.card-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center; 
    height: 100%; 
    flex: 2; 
    min-width: 250px;
    margin: 1rem;
    margin-bottom: 0;
    margin-right: 0;
    .card {
        flex: 1;
        margin-right: 1rem;
        min-width: 200px;
        height: 170px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.2), 0 6px 20px 0 rgba(80, 80, 80, 0.19);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        .cardItem{
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 40px;
            width: 100%;
            .material-symbols-outlined{
                font-size: 130%;
                color: rgb(3, 142, 206);
            }
        }
    }
}
app-dashboard{
    background-color: rgb(255, 255, 255);
    height: 100%;
    flex: 10;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.2), 0 6px 20px 0 rgba(80, 80, 80, 0.19);
}
app-simulator{
    background-image: url(../assets/simulatorBG.jpg);
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    flex: 10;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(66, 66, 66, 0.2), 0 6px 20px 0 rgba(80, 80, 80, 0.19);
}
