.simulator{
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/simulatorBG.jpg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.airplane {
    background-image: url(../../../assets/airplane.png);
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    transition: top,left ease-in-out 1s;
    &-departure { display: block; left: 625px;}
    &-parking1  { display: block; left: 686px;}
    &-parking2  { display: block; left: 811px;}
    &-landing   { display: block; left: 866px;}
    &.a0  { top: 202px; }
    &.a1  { top: 233px; }
    &.a2  { top: 265px; }
    &.a3  { top: 297px; }
    &.a4  { top: 328px; }
    &.a5  { top: 360px; }
    &.a6  { top: 392px; }
    &.a7  { top: 423px; }
    &.a8  { top: 455px; }
    &.a9  { top: 482px; }
    &.animate-departure {
        animation: 
        1s linear 0s normal getting-on-the-runway forwards,   
        1s linear 1s normal about-to-take-off forwards,
        1s linear 2s normal take-off forwards,
        1s linear 3s normal in-the-air forwards,
        1s steps(1, end) 4s normal gone forwards;          
    }
    &.animate-landing {
        display: block;
        animation: 
        1s linear 0s normal showing forwards,
        1s linear 1s normal land forwards,
        1s linear 2s normal turn-to-runway forwards,
        1s linear 3s normal on-the-runway forwards,
        1s linear 4s normal turn-to-release-passengers forwards;
    }    
}

@keyframes getting-on-the-runway {
    from { transform:rotate(-42deg); top: 555px; left: 739px; }
    to   { transform:rotate(-42deg); top: 71px; left: 739px; }
}
@keyframes about-to-take-off {
    from { }
    to   { top: 28px; transform:rotate(40deg); left: 747px; }
}
@keyframes take-off {
    from { }
    to   { left: 983px; }
}
@keyframes in-the-air {
    from { }
    to   { width: 50px; left: 1247px; }
}
@keyframes gone {
    from { }
    to { width: 0px; }
}

@keyframes showing {
    from { transform:rotate(-135deg); top: 28px; left: 1247px; }
    to   { transform:rotate(-135deg); top: 28px; left: 984px; }
}
@keyframes land {
    from { left: 984px; top: 28px; }
    to   { left: 745px; top: 28px; }
}
@keyframes turn-to-runway {
    from { left: 745px; top: 28px; }
    to   { top: 71px;  transform:rotate(-230deg); left: 750px; }
}
@keyframes on-the-runway {
    from { top: 71px;  left: 750px;}
    to   { top: 255px; left: 750px; }
}
@keyframes turn-to-release-passengers {
    from { top: 255px; left: 750px; }
    to   { top: 260px; transform:rotate(-320deg); left: 760px; }
}
@keyframes release-passengers {
    from { top: 260px; left: 760px; }
    to   { top: 260px; left: 866px; }
}
.ddddd{
    background-color: brown; width: 20px;
    height: 20px;
}